*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Test font */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    min-height: 100vh;
    
}

/* Header start  */
header{
  position: fixed;
  
  top:0; left: 0; right: 0;
  background :#28396e;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
  padding: 0px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  

}
header .logo{
  font-weight: bolder;
  font-size: 25px;
  color: rgb(255, 255, 255);
  
  
}

header img{
  width: 95px;
  height: 40px;
  align-items: left;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;

}
header .navbar ul li a{
  font-size: 17px;
  padding: 20px;
  color:rgb(38, 63, 89);
  display: block;
  color:rgb(255, 255, 255);
  text-decoration: none;
}
header .navbar ul li a:hover{
  background: rgb(27, 43, 78);
  color: #d4dfff;
}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #28396e;
  display: none;
}
/* Popout navbar + den der åbner flere links i nav baren */
header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
/* Popout navbar 2 hvis extra links skal have flere links */
header .navbar ul li ul li ul{
  left: 200px;
  top: 0;

}
header .navbar ul li:focus-within > ul,

header .navbar ul li:hover > ul{
  display: initial;
}


#menu-bar{
  display: none;
}

header label{
  font-size:20px ;
  color: rgb(231, 231, 231);
  cursor: pointer;
  display: none;
}
@media(max-width:991px){
  header{
      padding: 20px;
  }

  header label{
      display: initial;
  }

  header .navbar{
      position: absolute;
      top: 100%; left: 0; right: 0;
      background:#fff;
      border-top: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      display: none;
  }
  header .navbar ul li{
      width: 100%;

  }
  header .navbar ul li a{
      color: rgb(38, 63, 89);
  }
  header .navbar ul li ul{
      position: relative;
      width: 100%;

  }
  header .navbar ul li ul li{
      background: #eee;
  }
  header .navbar ul li ul li ul{
      width: 100%;
      left: 0;
  }

  #menu-bar:checked ~ .navbar{
      display: initial;
  }
}
/* Header Slut */





/* Footer Start */
footer .containerfooter{
    max-width: 100%;
    margin: auto;
  }
  .rowfooter{
    display: flex;
    flex-wrap: wrap;
  }
  footer ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col{
    width: 33%;
    padding: 0 15px;
  
  }
  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #28396e;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  
  }
  .footer-col .footersocials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .footersocials a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  @media(max-width: 768px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
    }
  }
  
  /* Footer Slut */